In [3]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [6]:
fire = pd.read_csv('fire.csv',encoding='cp949')
fire.head()

,연번,시도,시군구,읍면동,화재발생(년),화재발생(월),화재발생(일),화재발생(시),화재발생(분),요일,...,발화요인대분류,발화요인소분류,최초착화물대분류,최초착화물소분류,발화관련기기대분류,발화관련기기소분류,장소대분류,장소중분류,장소소분류,차량장소
0,1,울산광역시,북구,매곡동,2022,1,1,0,0,토,...,부주의,음식물 조리중,기타,기타,NaN,NaN,"판매,업무시설",판매시설,상점가,NaN
1,2,경기도,연천군,전곡읍,2022,1,1,0,6,토,...,부주의,담배꽁초,"종이,목재,건초등",종이,NaN,NaN,주거,공동주택,연립주택,NaN
2,3,인천광역시,부평구,삼산동,2022,1,1,0,8,토,...,부주의,담배꽁초,쓰레기류,쓰레기,NaN,NaN,기타서비스,기타건축물,기타 건축물,NaN
3,4,울산광역시,북구,당사동,2022,1,1,0,12,토,...,부주의,담배꽁초,"종이,목재,건초등",건초,NaN,NaN,기타,야외,공터,NaN
4,5,경상남도,창원시 마산회원구,내서읍,2022,1,1,0,13,토,...,부주의,"기기(전기, 기계 등) 사용.설치부주의","전기,전자",전자기기 부속품,상업장비,기타(상업장비),주거,공동주택,아파트,NaN

In [7]:
fire = fire[fire['시도']=='서울특별시']
fire.head()

,연번,시도,시군구,읍면동,화재발생(년),화재발생(월),화재발생(일),화재발생(시),화재발생(분),요일,...,발화요인대분류,발화요인소분류,최초착화물대분류,최초착화물소분류,발화관련기기대분류,발화관련기기소분류,장소대분류,장소중분류,장소소분류,차량장소
6,7,서울특별시,도봉구,창동,2022,1,1,0,20,토,...,부주의,담배꽁초,쓰레기류,재활용,NaN,NaN,기타,야외,공터,NaN
14,15,서울특별시,강동구,고덕동,2022,1,1,1,0,토,...,전기적 요인,절연열화에 의한 단락,"전기,전자",전선피복,계절용 기기,열선,"판매,업무시설",일반업무,일반빌딩,NaN
30,31,서울특별시,노원구,공릉동,2022,1,1,5,27,토,...,부주의,담배꽁초,"침구,직물류","이불(베개,시트)",NaN,NaN,"판매,업무시설",숙박시설,모텔,NaN
37,38,서울특별시,종로구,평창동,2022,1,1,7,24,토,...,미상,미상,"종이,목재,건초등","목재, 합판",NaN,NaN,주거,단독주택,단독주택,NaN
39,40,서울특별시,강남구,역삼동,2022,1,1,7,40,토,...,부주의,"불씨,불꽃,화원방치","침구,직물류","기타(침구,직물류)",NaN,NaN,주거,공동주택,주상복합아파트,NaN

In [8]:
fire.to_csv('fire1.csv',encoding='cp949')

In [20]:
df=pd.read_excel('202201.xlsx', sheet_name=1)
df2 = pd.read_excel('202207.xlsx', sheet_name=1)
df3 = pd.read_excel('202208.xlsx', sheet_name=1)
df4 = pd.read_excel('202212.xlsx', sheet_name=1)

In [21]:
df.head()

,일자,요일,지점명,지점번호,방향,구분,0시,1시,2시,3시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,20220101,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20220102,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20220103,월,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20220104,화,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20220105,수,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df =df.T
df2 = df2.T
df3 = df3.T
df4 = df4.T

In [23]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,8608,8609,8610,8611,8612,8613,8614,8615,8616,8617
일자,20220101,20220102,20220103,20220104,20220105,20220106,20220107,20220108,20220109,20220110,...,20220122,20220123,20220124,20220125,20220126,20220127,20220128,20220129,20220130,20220131
요일,일,일,월,화,수,목,금,토,일,월,...,토,일,월,화,수,목,금,토,일,일
지점명,성산로(금화터널),성산로(금화터널),성산로(금화터널),성산로(금화터널),성산로(금화터널),성산로(금화터널),성산로(금화터널),성산로(금화터널),성산로(금화터널),성산로(금화터널),...,신월여의지하도로,신월여의지하도로,신월여의지하도로,신월여의지하도로,신월여의지하도로,신월여의지하도로,신월여의지하도로,신월여의지하도로,신월여의지하도로,신월여의지하도로
지점번호,A-01,A-01,A-01,A-01,A-01,A-01,A-01,A-01,A-01,A-01,...,F-10,F-10,F-10,F-10,F-10,F-10,F-10,F-10,F-10,F-10
방향,유입,유입,유입,유입,유입,유입,유입,유입,유입,유입,...,유출,유출,유출,유출,유출,유출,유출,유출,유출,유출

In [24]:
df.to_csv('traffic_202201.csv',encoding='cp949')
df2.to_csv('traffic_202207.csv',encoding='cp949')
df3.to_csv('traffic_202208.csv',encoding='cp949')
df4.to_csv('traffic_202212.csv',encoding='cp949')