In [ ]:
import pandas as pd
import mariadb
from sqlalchemy import create_engine

# 실행 안되면 --> host를 127.0.0.1 

conn  = mariadb.connect(
    user='team3', 
    password='dbdb', 
    database='team3db', 
    host='210.119.12.121',
    port=3306
)

# 위 커넥션 정보와 동일하게 입력
engine = create_engine("mysql://{user}:{pw}@{host}/{db}".format(user='team3', pw='dbdb',host='210.119.12.121', db='team3db'))

In [ ]:
select_sql = "SELECT * FROM train"

In [ ]:
train_df = pd.read_sql_query(select_sql, engine,index_col='index')
train_df

In [ ]:
df2 = pd.read_csv('./data/test.csv')
df2.to_sql('test',engine, if_exists='replace', chunksize=1000 )

In [ ]:
test_df = pd.read_sql_query('SELECT * FROM test', engine,index_col='index')
test_df